@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
}

.container{
    width: 100%;
}

.formulario h1{
    color: white;
    margin-bottom: 20px;
}

.formulario{
    width: 300px;
    padding: 30px;
    background-color: #11054d;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    border:  solid 1px transparent;
}

.contenido{
    display: flex;
    margin-bottom: 10px;
    border: none;
    border-bottom: solid 1px #3d3660;
}


.inputs{
    width: 100%;
    padding: 10px;
    background: transparent;
    border: solid 1px transparent;
    color: white;
    outline: 0;
}


.contenido ::placeholder{
    color: #65659f;
}

.contenido i{
    font-size: 15px;
    color: white;
    margin-right: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.boton{
    text-align: center;
    margin-top: 40px;
}

button{
    padding: 10px 75px;
    border: solid 1px transparent;
    border-radius: 15px;
    background: #c1becf;
    color: #2f2a4a;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background: white;
}

.already{
    margin-top: 10px;
    text-align: center;
}

.already p{
    font-size: 12px;
    color: white;
}

.already p span a{
    text-decoration: none;
    color: #65659f;
}

@media screen and (max-width:300px){
    .formulario, button{
        width: 90%;
    }
}

.registroexitoso{
    text-align: center;
    display: none;
}

.registroexitoso i{
    text-align: center;
    font-size: 100px;
    color: rgb(19, 180, 19)
}

.registroexitoso p{
    color: white;
    margin-top: 20px;
}